@use "../abstracts/vars";

.world {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
}

.world-row {
  display: flex;
  flex-flow: row;
}

.wall {
  width: vars.$default-tile-size;
  height: vars.$default-tile-size;
  background: rgb(0,0,0);

}

.plain-tile {
  border: 1px solid white;
  box-sizing: border-box;
  background: vars.$plain-tile-background-color;
  width: vars.$default-tile-size;
  height: vars.$default-tile-size;
}