$default-tile-size: 2.5rem;
$default-number-of-tiles: 28; // not used

$plain-tile-background-color: rgba(149,149,149,1);
$bouncing-critter-color: rgb(222,150,26);
$wall-follower-color: rgb(35,177,66);