:root{
  --default-tile-size: 2.5rem;
  --default-number-of-tiles: 28;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

.world-div {
  /* width: 420px; */
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  /* flex-wrap: wrap; */
}

.world-row-div {
  display: flex;
  flex-flow: row;
}

.wall-div, .plain-tile, .bouncing-critter {
  width: var(--default-tile-size);
  height: var(--default-tile-size);
}

.wall-div {
  background: rgb(0,0,0);
}
.plain-tile{
  border: 1px solid white;
  box-sizing: border-box;
  background: rgba(149, 149, 149, 1);
}
.bouncing-critter{
  background: rgba(222, 150, 26, 1);
}
.wall-follower-div{
  background: rgba(35, 177, 66, 1);
}

.creature{
  position: absolute;
}

.creature-container{
  position: absolute;
}
